<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
        <suite name="Suite de pruebas" thread-count="1" parallel="tests">

    <test name="Test Get Objects">
        <classes>
            <class name="tests.GetObjects"> </class>
        </classes>
    </test>

    <test name="Test Create Objects">
        <classes>
            <class name="tests.CreateObject"> </class>
        </classes>
    </test>

        <test name="Test GetSingleObject">
            <classes>
                <class name="tests.GetSingleObject"> </class>
            </classes>
        </test>

    <test name="Test Update Objects">
        <classes>
            <class name="tests.UpdateObject"> </class>
        </classes>
    </test>

    <test name="Test Update Partially Objects">
        <classes>
            <class name="tests.UpdatePartiallyObject"> </class>
        </classes>
    </test>

    <test name="Test Delete Objects">
        <classes>
            <class name="tests.DeleteObject"> </class>
        </classes>
    </test>

 </suite>